.NavBtn {
  position: fixed;
  cursor: pointer;
  border-radius: 50%;
  top: calc(50% - 10px);
  right: 0;
  z-index: 3;
  color: black;
  border-color: initial;
  transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out;
}

.NavBtn:hover {
  color: darkorange;
  border-color: gold;
  transition: color 0.6s ease-in-out, border-color 0.6s ease-in-out;
}

.NavBtn:focus {
  outline: none;
}

.ShowNavBtn {
  composes: NavBtn;
  right: 0;
  opacity: 0.6;
}

.HideNavBtn {
  composes: NavBtn;
  left: 0;
  transform: rotate(180deg);
}

.NavLinkWrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: lightslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .servicePageContent {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: stretch;
  }

  .noMobileContent {
    display: grid;
    align-content: center;
  }

  .NavContent {
    border-left: 1px solid #cc9966;
  }
}

@media (min-width: 1200px) {
  .servicePageContent {
    grid-template-columns: 4fr 1fr;
  }

  .NavContent {
    border-width: 2px;
    display: flex;
    align-items: center;
  }
}
