.ServicesWrapper {
  display: flex;
  flex-direction: column;
}

.NavLinkServicesWrapper {
  composes: ServicesWrapper;
}

.LinkServicesWrapper {
  composes: ServicesWrapper;
}

.TypeServicesArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.LinkTypeServicesArticle {
  composes: TypeServicesArticle;
  border: 1px solid #cc9966;
  margin: 15px auto;
}

.NavLinkTypeServicesArticle {
  composes: TypeServicesArticle;
  border-bottom: 2px dashed #cc9966;
  margin-bottom: 10px;
}

.NavLinkTypeServicesArticle:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.TypeServicesArticle:hover > .LinkArticleTitle {
  color: #cc9966;
  text-shadow: 1px 1px #000000;
  transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

.LinkArticleIcon {
  margin: 15px auto;
}

.ArticleTitle {
  color: black;
  text-shadow: 0 0 #000000;
  transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

.LinkArticleList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 15px auto;
  padding: 0 10px;
}

.LinkArticleListItem {
  margin: 5px auto;
}

@media (min-width: 768px) {
  .LinkServicesWrapper {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .LinkTypeServicesArticle {
    width: 320px;
    margin: 25px auto;
    justify-content: start;
  }

  .LinkArticleList {
    font-size: 18px;
  }

  .NavLinkServicesWrapper {
    border-left: 1px solid #cc9966;
  }
}

@media (min-width: 1200px) {
  .NavLinkServicesWrapper,
  .LinkTypeServicesArticle,
  .NavLinkTypeServicesArticle {
    border-width: 2px;
  }

  .LinkTypeServicesArticle {
    width: 375px;
  }
}
