.contactsInformationWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsInformationWrapper:last-child {
  padding-bottom: 90px;
}

.footerTitle {
  margin: 10px 0;
  font-size: 20px;
}

@media (min-width: 400px) {
  .contactsInformationWrapper {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1000px) {
  .contactsInformationWrapper:last-child {
    padding-bottom: 0;
  }
}
