* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  text-shadow: 0 0 #000000;
  padding: 15px 10px;
  transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

a:hover {
  color: gold;
  text-shadow: 1px 1px #000000;
  transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

p,
span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}

p::first-letter,
span::first-letter {
  padding-left: 10px;
}

h1,
h2,
h3,
h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 20px;
  padding: 0 15px;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 15px;
}

h4 {
  font-size: 16px;
}

body {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid black;
}

footer {
  background-color: lightgrey;
  width: 100%;
}

.active {
  color: gold;
  text-shadow: 1px 1px #000000;
  transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

.content {
  padding: 20px;
}

.content .page_services-title {
  font-size: 18px;
  margin: 5px auto;
}

.content .services-description {
  padding-top: 15px;
}

.content .page-image {
  margin: 0 auto;
}

.content .page_text-list {
  margin-bottom: 7px;
}

.content .page_text_list-item {
  list-style: disc inside;
  text-align: left;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.content .page_important_message-text {
  font-size: 18px;
  color: #8b0000;
  font-weight: bolder;
  text-align: center;
  margin: 10px 0;
}

.content .page_text-link {
  text-decoration: underline;
  color: blue;
}

.content .page_text-link:hover {
  color: gold;
}

@media (min-width: 768px) {
  h1 {
    font-size: 24px;
    margin: 15px auto;
  }

  a,
  p,
  span {
    font-size: 18px;
  }

  .content .page_services-title {
    font-size: 22px;
    margin: 0 auto 15px;
  }

  .content .page-image {
    float: left;
    margin: 0 15px;
  }

  .content .page_text_list-item {
    font-size: 18px;
  }

  .content .page_important_message-text {
    font-size: 22px;
  }

  p::first-letter,
  span::first-letter {
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .content .page_text_list-item,
  .content .page-text,
  span,
  a {
    font-size: 20px;
  }

  p::first-letter,
  span::first-letter {
    padding-left: 20px;
  }
}
